body{
    background-color: rgb(33, 37, 41);
}
#Boderlien {
    
    color: aliceblue;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 100%;
    
}

.container{
height: 50%;
width: 50%;

}



 #h4 {
    background-color:  #808080;
    width: 100%;
    text-align: center;
   
}
.col-4 {
    flex: 0 0 auto;
    width: 20%;
}

#DropDown1{
     margin-top: 1em;
    justify-content: left;
    display: grid;
}

#Boderlien2{
    color: aliceblue;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 80%;
    margin-top: 1em;
}

#RightContent{

    justify-content: right;
}

h1{
    text-align: center;
}

#dropdownlabel{
    width: 80%;
}


#bottomContent{
    
    margin-left: 20%;

}
#bthRating{

    margin: 0em;
    color: #808080;
    background-color: black;
    border: 1px solid #808080;
}

#Btnmaturity{
    margin: 0;
    color:#808080;
    background-color: black;
    border: 1px solid #808080;
}

#Boderlien3{
    color: aliceblue;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 100%;

    margin-top: 1em;

}

#Boderlien4{
    color: aliceblue;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width: 100%;

    margin-top: 1em;

}

h6{

    color: #808080;
}
#checkbo{
    justify-content: space-between;
    width: 80%;
    left: 0px;
}

#Savebth{
    background-color: white;
    color: black;
    border: 1px solid #808080;
}


#cancelbtn{

    background-color: black;
    color: #808080;
    border: 1px solid #808080;
}

#deletbtn{

background-color: black;
color: #808080;
border: 1px solid #808080;
}

#Bottombtn{

    align-items: center;
}


#checkboxarea{
    color: #808080;
    background-color: black;
    border: 1px solid #808080;
}

.p1{
    margin-top: 1em;
}
.title{
    padding-left: 15px;
    color: white;
}

.navbar-nav > li{
    padding: 5px;
    margin: 10px;
   
  }

  .btnn{
    padding-left:30px;
    padding-right:30px;
      width: 140px;
      justify-content: space-evenly;
  }
  footer{
    position: relative;
    height: 100px;
    /* bottom: 0; */
    width: 100%;
    color: white;

  }
  footer a{
    color: rgb(151, 151, 151);
    text-decoration: none;
    margin: 5px;
  }
 .icon{
     margin: 8px;
     padding-left: 0px;
        width: 30px;
        font-size: 30px;
    }
  
    .Move-title {
        color: whitesmoke;
      }
